streamlit
pandas
google-generativeai
Pillow
PyPDF2
PyMuPDF
python-pptx
python-docx
textwrap3
youtube-transcript-api
SpeechRecognition
beautifulsoup4
openpyxl
pdfminer==20191125
pdf2image
pytesseract
html2text
